@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Mont";
  font-weight: 400;
  src: url("/fonts/Poppins/Montserrat-Regular.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Mont";
  font-weight: 500;
  src: url("/fonts/Poppins/Montserrat-Medium.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Mont";
  font-weight: 600;
  src: url("/fonts/Poppins/Montserrat-SemiBold.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Pop";
  src: url("/fonts/Poppins/Poppins-Medium.ttf");
  font-display: swap;
}
html {
  @apply filter;
}
html,
body {
  @apply scroll-smooth font-body 2xl:text-xl;
}
body {
  @apply text-slate-900 transition duration-100 ease-in-out dark:bg-[#282828] dark:text-slate-200;
}

.times {
  font-family: Times, serif !important;
}
.prose pre {
  @apply bg-slate-800 dark:bg-[#232B2B] !important;
}
code {
  @apply font-mono !important;
}
.prose code {
  @apply whitespace-pre bg-slate-800 font-mono text-sm dark:bg-[#232B2B] !important;
}
.prose svg {
  width: 0;
  height: 0;
}
.prose iframe {
  @apply w-full aspect-video;
}

/* NProgress */
/* Make clicks pass-through */
:root {
  --nprogress-color: #e8e8e8;
}
#nprogress {
  pointer-events: none;
}
#progress:after {
  display: block;
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #232b2b27;
}
#nprogress .bar {
  background: var(--nprogress-color);
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}
.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}
@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
